@charset "UTF-8";
:export {
  menuBg: #1f2d52;
  minWidth: 1024;
  minHeight: 576;
  headerHeight: 70;
  menuText: #dae3f2;
  menuActiveText: #fff;
  subMenuActiveText: #3a85ff;
  sidebarWidth: 200;
  treeWidth: 323;
  crumbsHeight: 60;
}

body {
  font-size: 16px;
  background: #f1f3f7;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

input {
  outline: none;
  border: 1px solid #c8d3da;
  border-radius: 2px;
  font-size: 16px;
  color: #222222;
  background: transparent;
  -webkit-appearance: none;
}

input:hover {
  border-color: #9baab4;
}

input:focus {
  border-color: #3a85ff;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b5b5b5;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b5b5b5;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b5b5b5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b5b5b5;
}

button {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/*重置文本字体和大小*/
input, textarea, keygen, select, button {
  font: 16px "Microsoft YaHei";
}

.el-progress-bar__outer {
  background-color: #dee7ec;
}

/*重置表单错误提示文字大小、表单线样式···························start*/
.el-form-item__error {
  color: #f35a51;
  font-size: 14px;
}

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner, .el-message-box__input input.invalid {
  border-color: #c8d3da;
}

.el-form-item.is-error .el-input__inner:hover, .el-form-item.is-error .el-textarea__inner:hover, .el-message-box__input input.invalid:hover {
  border-color: #9baab4;
}

.el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid:focus {
  border-color: #3a85ff;
}

.el-form-item .el-input__inner {
  height: 50px;
  line-height: 50px;
}

label.el-form-item__label {
  line-height: 50px !important;
  font-size: 16px;
  color: #222222;
}

.el-select.el-select-a1 {
  width: 700px;
}

.el-select.el-select-a2 {
  width: 500px;
}

.el-select.el-select-a3 {
  width: 516px;
}

.el-textarea.area-height200 > .el-textarea__inner {
  height: 200px;
}

.el-input.is-disabled.disabled-readOnly .el-input__inner {
  background-color: #f6f9fa;
  border-color: #c8d3da;
  color: #222222;
}

.el-select.disabled-readOnly .el-input.is-disabled .el-input__inner {
  background-color: #f6f9fa;
  border-color: #c8d3da;
  color: #222222;
}

/*重置表单错误提示文字大小、表单线样式···························end*/
/*form表单样式重置···························start*/
.el-input__inner {
  border-radius: 0;
  color: #222222;
}

.el-select-dropdown {
  border-radius: 0;
}

.el-form.show-form .el-row .el-col .grid-content {
  padding-right: 77px;
}

.el-form.show-form input.el-input__inner {
  width: 293px;
}

.el-form.show-form .el-date-editor.el-input,
.el-form.show-form .el-date-editor.el-input__inner {
  width: 100%;
}

.el-form.show-form div.el-select {
  width: 274px;
}

.el-form.show-form .el-input__suffix {
  right: -14px;
}

.el-form.show-form textarea.el-textarea__inner {
  width: 293px;
  height: 168px;
}

.el-form.show-form .el-input.is-disabled .el-input__inner {
  background-color: #f4f4f4;
  color: #555555;
}

.el-form.show-form .el-select .el-input.is-disabled .el-input__inner {
  cursor: default;
}

.el-form.show-form .el-form-item__label {
  width: 160px;
  font-size: 16px;
  color: #555555;
  letter-spacing: 0;
  text-align: right;
  line-height: 60px;
}

.el-form.show-form .form-show-text {
  text-align: left;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  width: 94%;
  padding: 15px 0;
  border-bottom: 1px solid #dee7ec;
  font-size: 16px;
  color: #222222;
}

.el-form.show-form .form-show-textarea {
  width: 180px;
  text-align: left;
  overflow-y: hidden;
  min-height: 140px !important;
  height: auto;
}

.el-form.show-form .form-show-textarea2 {
  text-align: left;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  width: 98%;
  padding: 15px 0;
  border: 1px solid #dee7ec;
  font-size: 16px;
  color: #222222;
  height: 298px;
}

.el-form.show-form .form-show-number {
  text-align: left;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222222;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  width: 180px;
  padding: 0 15px;
}

.el-form.show-form .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 0;
}

/*form表单样式重置···························end*/
/*el-dialog弹出框重置··························start*/
.el-dialog {
  border-radius: 0;
}

.el-dialog__header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dee7ec;
  margin: 0 0;
  padding: 0 30px;
}

.el-dialog__title {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  line-height: 16px;
}

.el-dialog__headerbtn {
  position: absolute;
  top: 12px;
  right: 25px;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #bac3cb;
  font-size: 25px;
}

.el-dialog__body {
  padding: 30px 30px;
}

/*el-dialog弹出框重置···························end*/
/*重置表格标题头颜色、边框线···························start*/
.el-table th {
  background: #f3f7fa;
  height: 50px;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
}

.el-table td {
  text-align: center;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 14px;
}

.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #ebf0f7;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f3f7fa;
}

/*重置表格标题头颜色、边框线···························end*/
/*重置文本链接按钮效果···························start*/
.el-button--text {
  color: #3a85ff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.el-button--text:hover {
  color: #77abff;
}

.el-button--text:active {
  color: #396abb;
}

/*重置文本链接按钮效果···························end*/
/*修改状态悬浮样式重置···························start*/
.el-dropdown-menu {
  padding: 0 0;
  border: 1px solid #e0dede;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.el-dropdown-menu__item {
  margin: 1px 0;
  background-color: #ffffff;
  color: #222222;
}

.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #f3f7fa;
  color: #222222;
}

.el-dropdown-menu__item:active, .el-dropdown-menu__item:focus {
  background-color: #3a85ff;
  color: #ffffff;
}

/*修改状态悬浮样式重置···························end*/
/*修改单选框样式重置···························start*/
.el-radio__label {
  font-size: 16px;
  color: #555555;
}

.el-radio.is-bordered {
  padding: 15px 0 0 20px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  width: 340px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.el-radio.is-bordered.min {
  width: 253px;
}

.el-radio.is-bordered.min250 {
  width: 250px;
}

.el-radio.is-bordered.min160 {
  width: 160px;
}

.el-radio.is-bordered + .el-radio.is-bordered {
  margin-left: 10px;
  margin-right: 0;
}

.el-radio.min160.is-bordered.el-radio.is-bordered {
  margin-right: 10px;
}

.el-radio.min160.is-bordered.el-radio.is-bordered:last-child {
  margin-right: 0;
}

/*修改单选框悬浮样式重置···························end*/
/*修改复选框样式重置···························start*/
.el-checkbox.is-bordered {
  padding: 14px 20px;
  margin-right: 20px;
  background: #ffffff;
  border: 1px solid #c8d3da;
  border-radius: 2px;
  width: 226px;
  height: 48px;
  margin-bottom: 20px;
}

.el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 0;
}

.el-checkbox__inner {
  background: #ffffff;
  border: 1px solid #d1d6d9;
  border-radius: 1px;
  width: 18px;
  height: 18px;
}

.el-checkbox.is-bordered.is-checked {
  border: 1px solid #3a85ff;
  background: #ffffff;
}

.el-checkbox__inner:hover {
  border: 1px solid #c8d3da;
  background: #ffffff;
}

.el-checkbox__inner::after {
  position: absolute;
  left: 6px;
  top: 3px;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #3a85ff;
  border-color: #3a85ff;
  border: 1px solid #3a85ff;
  background: #3a85ff;
  border-radius: 1px;
  width: 18px;
  height: 18px;
}

/*修改复选框悬浮样式重置···························end*/
.zdy-progress-steps {
  margin-top: 30px;
}

.zdy-progress-steps .rt-zdy-li {
  padding-bottom: 30px;
  position: relative;
}

.zdy-progress-steps .rt-zdy-li .el-timeline-item__node {
  background: #ffffff;
  border: 1px solid #d1d6d9;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: -3px;
}

.zdy-progress-steps .rt-zdy-li .el-timeline-item__tail {
  position: absolute;
  left: 4px;
  height: 100%;
  border-left: 1px solid #d8d8d8;
}

.zdy-progress-steps .rt-zdy-li.active .el-timeline-item__node {
  border: 1px solid #3a85ff;
}

.zdy-progress-steps .rt-zdy-li.active .el-timeline-item__tail {
  border-left: 1px solid #3a85ff;
}

.zdy-progress-steps .rt-zdy-li .active-circle {
  position: absolute;
  left: 0;
  top: 6px;
  background: #3a85ff;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.zdy-progress-steps .rt-zdy-li p {
  position: absolute;
  top: 0;
  left: 38px;
}

.zdy-progress-steps .rt-zdy-li p .title1 {
  font-size: 16px;
  color: #555555;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 20px;
  vertical-align: middle;
}

.zdy-progress-steps .rt-zdy-li p .title2 {
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
  line-height: 16px;
  vertical-align: middle;
}

.zdy-progress-steps .rt-zdy-li p .title3 {
  font-size: 16px;
  color: #3a85ff;
  letter-spacing: 0;
  line-height: 16px;
  vertical-align: middle;
}

/*追加Append搜索框样式重置···························start*/
.el-input.el-input-group {
  border: 1px solid #c8d3da;
}

.el-input.el-input-group:visited {
  border: 1px solid #3a85ff;
}

.el-input.el-input-group:hover {
  border: 1px solid #9baab4;
}

.el-input.el-input-group:active {
  border: 1px solid #3a85ff;
}

.el-input.el-input-group:focus {
  border: 1px solid #3a85ff;
}

.zdy-input input.el-input__inner {
  /*border-right: 0;*/
  border: 0;
}

.zdy-input input.el-input__inner:hover {
  border-color: #9baab4;
}

.zdy-input:hover input.el-input__inner + .el-input-group__append, .zdy-input input.el-input__inner + .el-input-group__prepend {
  border-color: #9baab4;
}

.zdy-input input.el-input__inner:focus {
  border-color: #3a85ff;
}

.zdy-input button.el-button.zdy-search.el-button--default {
  color: #3a85ff;
  background: #ffffff;
  padding: 9px 10px 10px 10px;
  font: 14px "Microsoft YaHei";
}

.zdy-input .el-input-group__append, .zdy-input .el-input-group__prepend {
  background-color: #ffffff;
  border: 0;
}

.zdy-input div:before {
  content: "|";
  font-size: 10px;
  display: inline-block;
  width: 1px;
  height: 18px;
  margin: 11px 22px 8px -20px;
  background-color: #ffffff;
  color: #c8d3da;
}

.zdy-tabs .el-tabs--card > .el-tabs__header {
  border-bottom: 1px solid #e1e5eb;
  margin: 0 0;
}

.zdy-tabs .el-tabs__nav {
  border: 0 !important;
  border-bottom: none;
  border-radius: 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.zdy-tabs .el-tabs__item.is-active {
  border-top: 4px solid #3a85ff;
  border-left: 0;
  border-bottom: 0;
}

.zdy-tabs .el-tabs__item {
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #3a85ff;
  height: 60px;
  line-height: 60px;
  border-right: 1px solid #e1e5eb;
  border-left: 0 !important;
}

.zdy-tabs.w240 .el-tabs__item {
  width: 240px;
}

/*追加Append搜索框样式重置·····························end*/
/*系统按钮定义*/
.big-btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.normal-btn {
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.min-btn {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

.el-button--green {
  color: #ffffff;
  cursor: pointer;
  background: #2ec0a0;
  border: 1px solid #2ec0a0;
}

.el-button--green:hover {
  color: #ffffff;
  cursor: pointer;
  background: #7adbc6;
  border: 1px solid #7adbc6;
}

.el-button--green:active {
  color: #ffffff;
  cursor: pointer;
  background: #1a8f76;
  border: 1px solid #1a8f76;
}

.el-button--green:disabled {
  color: #ffffff;
  cursor: no-drop;
  background: #c3cad0;
  border: 1px solid #c3cad0;
}

.el-button--blue {
  color: #ffffff;
  cursor: pointer;
  background: #3a85ff;
  border: 1px solid #3a85ff;
}

.el-button--blue:hover {
  color: #ffffff;
  cursor: pointer;
  background: #77abff;
  border: 1px solid #77abff;
}

.el-button--blue:active {
  color: #ffffff;
  cursor: pointer;
  background: #396abb;
  border: 1px solid #1a8f76;
}

.el-button--blue:disabled {
  color: #ffffff;
  cursor: no-drop;
  background: #c3cad0;
  border: 1px solid #c3cad0;
}

.el-button--gray {
  color: #ffffff;
  cursor: pointer;
  background: #c8ccd0;
  border: 1px solid #c8ccd0;
}

.el-button--gray:hover {
  color: #ffffff;
  cursor: pointer;
  background: #c8ccd0;
  border: 1px solid #c8ccd0;
}

.el-button--gray:active {
  color: #ffffff;
  cursor: pointer;
  background: #c8ccd0;
  border: 1px solid #c8ccd0;
}

.el-button--gray:disabled {
  color: #ffffff;
  cursor: no-drop;
  background: #c8ccd0;
  border: 1px solid #c8ccd0;
}

.mt60 {
  margin-top: 60px;
}

.btn-layout-center {
  width: 100%;
  text-align: center;
}

.configMenu .icon-add:before, .configMenu .icon-edit:before, .configMenu .icon-delete:before {
  color: #3a85ff;
}

.pagination-wrap {
  float: right;
  margin: 20px 0;
}

.pagination-wrap .el-pagination .el-pagination__total {
  height: 38px;
  line-height: 38px;
}

.pagination-wrap .el-pagination .btn-next, .pagination-wrap .el-pagination .btn-prev, .pagination-wrap .el-pagination li {
  width: 38px;
  height: 38px;
  line-height: 38px;
}

#menuTree .el-tree-node {
  margin-top: 25px;
}

#menuTree .el-tree-node .el-tree-node__label {
  font-size: 16px;
}

#tree-wrap .el-tree-node {
  margin-top: 20px;
}

#tree-wrap .el-tree-node .el-tree-node__label {
  font-size: 14px;
}

#tree-wrap .el-tree-node__children {
  margin-top: 20px;
}

#tree-wrap .el-tree-node:first-of-type {
  margin-top: 0;
}

.copyDialog .el-dialog .el-dialog__body {
  max-height: 500px;
  overflow: auto;
}

.copyDialog .el-dialog .el-dialog__body .el-tree-node {
  margin-top: 10px;
}

.copyDialog .el-dialog .el-dialog__body .el-tree-node .el-tree-node__label {
  font-size: 14px;
}

.schoolSchemeCopy .el-tree {
  max-height: 800px;
  overflow-y: auto;
}

.schoolSchemeCopy .el-tree .el-tree-node {
  margin-top: 20px;
}

.schoolSchemeCopy .el-tree .el-tree-node .el-tree-node__label {
  font-size: 14px;
}

.roleAdd .el-tree {
  max-height: 761px;
  overflow-y: auto;
}

.roleAdd .el-tree .el-tree-node {
  margin-top: 20px;
}

.roleAdd .el-tree .el-tree-node .el-tree-node__label {
  font-size: 14px;
}

:export {
  menuBg: #1f2d52;
  minWidth: 1024;
  minHeight: 576;
  headerHeight: 70;
  menuText: #dae3f2;
  menuActiveText: #fff;
  subMenuActiveText: #3a85ff;
  sidebarWidth: 200;
  treeWidth: 323;
  crumbsHeight: 60;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  overflow: hidden;
  min-width: 1024px;
  min-height: 576px;
}
